.navbar {
  background-color: #333;
  padding: 1rem;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

/* Style appliqué automatiquement au lien actif grâce à routerLinkActive */
.active {
  font-weight: bold;
  border-bottom: 2px solid white;
}